2 The Analysts/UIflow.json
[{"id":"f4361d89.91c37","type":"ui_form","z":"610de856.44f5b8","name":"","label":"","group":"fdbd53dd.7d1ed","order":0,"width":0,"height":0,"options":[{"label":"ID","value":"Resid","type":"number","required":true}],"formValue":{"Resid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":148,"y":209,"wires":[["67b38819.8466c8","57af545d.66488c"]],"l":false},{"id":"67b38819.8466c8","type":"ui_text","z":"610de856.44f5b8","group":"fdbd53dd.7d1ed","order":1,"width":0,"height":0,"name":"","label":"Restaurant ID","format":"{{msg.payload.num}}","layout":"col-center","x":297,"y":307,"wires":[],"l":false},{"id":"6fe6bed0.6759","type":"dashDB in","z":"610de856.44f5b8","dashDB":"1c1ad04f.c7979","service":"_ext_","query":"select \"Text_Sentiment_Label\" from SWL92557.ZOMATO as Zomato where \"Restaurant_ID\" = 6300002\n","params":"","name":"","x":413,"y":206,"wires":[["d9978096.ea433","e7657736.2e00c8","7d141142.db4a7"]],"l":false},{"id":"d9978096.ea433","type":"debug","z":"610de856.44f5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":612.5,"y":238,"wires":[],"l":false},{"id":"57af545d.66488c","type":"function","z":"610de856.44f5b8","name":"","func":"global.set(\"num\",msg.payload.num) \nreturn msg;","outputs":1,"noerr":0,"x":259.5,"y":210,"wires":[["6fe6bed0.6759","d21ec0fb.20a8b"]],"l":false},{"id":"d21ec0fb.20a8b","type":"debug","z":"610de856.44f5b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":413.5,"y":100,"wires":[],"l":false},{"id":"e7657736.2e00c8","type":"ui_text","z":"610de856.44f5b8","group":"60a3ee4d.9c1cf","order":2,"width":"0","height":"0","name":"","label":"This Restaurant is","format":"","layout":"col-center","x":517,"y":326,"wires":[],"l":false},{"id":"7d141142.db4a7","type":"ui_text","z":"610de856.44f5b8","group":"60a3ee4d.9c1cf","order":2,"width":0,"height":0,"name":"","label":"Recommended","format":"","layout":"col-center","x":669,"y":385,"wires":[],"l":false},{"id":"fdbd53dd.7d1ed","type":"ui_group","z":"","name":"Default","tab":"a9110d19.2ead9","disp":true,"width":"6","collapse":false},{"id":"1c1ad04f.c7979","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"Zomato db"},{"id":"60a3ee4d.9c1cf","type":"ui_group","z":"","name":"Default","tab":"a9110d19.2ead9","disp":true,"width":"6","collapse":false},{"id":"a9110d19.2ead9","type":"ui_tab","z":"","name":"Away","icon":"dashboard","disabled":false,"hidden":false}]